
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  background-color: transparent;
  padding: 50px 20px;
  text-align: center;
  
}
.contact input, .contact textarea {
  display: block;
  width: 300px;
  max-width: 80%;
  margin: 15px auto;
  padding: 10px;
  border: none;
  border-bottom:2px solid black ;
  
  
}
.contact button {
  padding: 10px 25px;
  background-color: #FF6565;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
#contact-us button:hover {
  background-color: #FF6565;
}